.IpaInput__input {
  box-sizing: border-box;
  border: 1px solid #666;
  padding: 0.25em;
}
.IpaInput__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eee;
  border: 1px solid #666;
  border-right: 0;
}
.IpaInput__item {
  padding: 0.5em 0.75em;
  border-right: 1px solid black;
}
.IpaInput__item.selected {
  background-color: #fff;
}
.IpaInput__item:hover {
  background-color: #fff;
  cursor: pointer;
}
.IpaInput__item__number {
  font-size: 70%;
  color: #aaa;
  float: left;
  width: 40%;
}
.IpaInput__item__glyph {
  font-size: 120%;
  float: left;
  width: 60%;
}
.IpaInput__item__name {
  display: block;
  clear: left;
  font-size: 60%;
  width: 100%;
  text-align: center;
}

.hints {
  padding: 1em 0 0;
}