
.IpaInput__input {
  box-sizing: border-box;
  border: 1px solid #666;
  padding: 0.25em;
  width: 95%;
  width: calc(100% - 20px);  
  width: -webkit-fill-available;
  margin: 10px;
  height: 50px;
  font-size: 2em;
}

.IpaInput__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eee;
  border: 1px solid #666;
  border-right: 0;
}
.IpaInput__item {
  padding: 0.5em 0.75em;
  border-right: 1px solid black;
}
.IpaInput__item.selected {
  background-color: #fff;
}
.IpaInput__item:hover {
  background-color: #fff;
  cursor: pointer;
}
.IpaInput__item__number {
  font-size: 70%;
  color: #aaa;
  float: left;
  width: 40%;
}
.IpaInput__item__glyph {
  font-size: 120%;
  float: left;
  width: 60%;
}
.IpaInput__item__name {
  display: block;
  clear: left;
  font-size: 60%;
  width: 100%;
  text-align: center;
}

.hints {
  padding: 1em 0 0;
}

.audio-button {
  background-color: #2e7d32 !important;
  color: white !important;
}

.container {
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
}

.buttons {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.buttons > button {
  margin: 10px
}

.App {
  margin-top: 10%;
  color: #232323;
}
.question {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.5em;
}

.question .word {
  font-family: 'Playfair Display', serif;
  font-size: 2.75em;
}
.ipa, .IpaInput {
  font-family: 'Noto Sans', sans-serif;
}
.ipa-hidden {
  opacity: 0;
}

.score {
  margin-left: 10px;
  font-weight: bold;
}

.controls {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.controls label {
  padding: 10px 0;
}